.nav {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 10%;
    height: 100%;
    background-color: black;
    border: 1px solid red;
  }
  
  .nav-item {
    color: white;
    text-align: center;
    text-decoration: none;
    h3 {
        border-bottom: 1px solid cyan;
    }
  }
