.container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    padding: 50px 20px;
  }
}

.version {
  float: right;
  padding-right: 10px;
}
